.view-id-detail_view{
	.view-content{
		.views-row:nth-child(2){
			.content-wrapper{
				background-color: transparent;
			}
		}
	}
}

.detail {
	.image-wrapper {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
		}

		.content-wrapper {

			position: absolute;
			width: 425px;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			background-color: rgba(255,255,255,0.75);
			box-sizing: border-box;
			padding: 25px;
	
			h3 {
				font-size: 18px;
				font-family: dinlight;
				letter-spacing: 0.075em;
				text-align: center;
				margin: 0px;
			}
			
			p, span, div{
				line-height: 1.15em;
			}

			h4 {
				font-size: 16px;
				text-align: center;
			}

			.body{
				line-height: 1.2;
				& > *{
					margin-bottom: 0.8em;
				}
				& span br{
					line-height: 1;
				}
			}

			&.top {
				top: 0%;
			}

			&.bottom {
				bottom: 0%;
			}
		}
	}
}

.item {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	.overlay {
		position: absolute;
		width: 20.25%;
		right: 6%;
		z-index: 90;

		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		pointer-events: none;

		h3 {
			font-size: 30px;
			text-align: center;
			font-family: dinmedium;
			font-weight: normal;
			margin: 0px;
		}

		h4 {
			font-size: 14px;
			text-align: center;
			letter-spacing: 0.075em;
			font-family: "Times New Roman";
			font-style: italic;
			font-weight: normal;
			margin: 0px;

			&.pull-up{
				font-family: dinregular;
				margin-top: -0.75em;
			}

			& b{
				font-weight: normal;
				font-family: dinbold;
				font-style: normal;
			}

			&.credit{
				margin-bottom: 4.5em;
			}
		}

		.description {
			font-size: 12px;
			line-height: 1.33;
		}

		.footer {
			bottom: 0;
			position: absolute;
			width: 100%;
			box-sizing: border-box;
			padding: 20px;
			& > * {
				color: #393839;
			}
		}

		.centralizer{
			width: 100%;
			top:50%;
			left:50%;
			position: absolute;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
	}
}

.view-projects{
	.areau-credits{
		.line1{
			line-height: 1.4;
		}
	}
}