.detail {
	.image-wrapper {
		position: relative;
		height: 90vh;
		overflow: hidden;

		img {
			min-height: 90vh;
		}

		.content-wrapper {

			position: absolute;
			width: 20.25%;
			right: 6%;
	
			h3 {
				text-align: center;
			}

			p {
				font-size: 10px;
				line-height: 1.15;
			}

			&.top {
				top: 0%;
			}

			&.bottom {
				bottom: 0%;
			}
		}
	}
}

.item {
	position: relative;
	height: 90vh;
	overflow: hidden;

	img {
		min-height: 90vh;
		min-width: 100%;
	}

	.overlay {
		position: absolute;
		width: 20.25%;
		right: 6%;

		h3 {
			text-align: center;
		}

		p {
			font-size: 12px;
		}

		.footer {
			bottom: 0;
			position: absolute;
			width: 100%;
			box-sizing: border-box;
			padding: 20px;
		}
	}
}