@font-face {
  font-family: 'DinRegular';
  src: url("../fonts/din/DINRegular.ttf");
}

@font-face {
  font-family: 'DinLight';
  src: url("../fonts/Din/DINProLight.eot");
  src: local("DINProLight"), url("../fonts/Din/DINProLight.woff") format("woff"), url("../fonts/Din/DINProLight.ttf") format("truetype");
}