footer {
	text-align: center;
	font-family: DinRegular;
	text-transform: uppercase;
	box-sizing: border-box;
	position: relative;

	.wrapper{
		width: 1665.153px
	}

	.col {
		box-sizing: border-box;
		margin: 15px 0;

		display: block;

		float: left;
		width: 33.333%;
		height: 235.867px

		img {
			width: 150px;
			height: 150px;
		}

		p {
			margin: 0;
			display: block;
			position: relative;
			font-size: 14px;
			letter-spacing: 0.075em;
			font-family: DinRegular;

			a{
				text-decoration: none;
				color: rgba(0,0,0,0.75);
			}
		}
	}

	h3 {
		margin: 0;
		padding: 0;
		line-height: 23.042px;
		font-size: 27.96px
	}
	
	.address {
		margin-bottom: 10px;
		p {
			margin: 0;
			font-size: 12px;
		}
	}

	.contact {
		a {
			margin: 0;
			font-size: 12px;
			display: block;
			color: #000;
			text-decoration: none;
		}
	}

	input[type="text"] {
		margin: 0 auto 13.376px 0;
		display: block;
		width: 226.723px;
		padding: 9.1775px;
		text-align: center;
		line-height: 12.47pt;
		font-size: 10.4pt;
		text-transform: uppercase;
		font-family: DinRegular;
		background-color: rgba(255,255,255,0.25);
		border: none;

		transition: background-color 0.3s ease-in-out;

		&:hover{
			background-color: rgba(255,255,255,0.5);
		}
	}

	input[type="submit"] {
		margin: 0 auto 13.376px 0;
		display: block;
		width: 226.723px;
		padding: 9.1775px;
		text-align: center;
		line-height: 12.47pt;
		font-size: 10.4pt;
		text-transform: uppercase;
		font-family: DinBold;
		background-color: rgba(255,255,255,0.25);
		border: 1px solid rgba(80,80,80,0.25);

		transition: background-color 0.3s ease-in-out;
		
		&:hover{
			background-color: rgba(255,255,255,0.75);
		}
	}
}

@media(min-width: 992px) {
	footer {
		margin-top: -296.322px; //STATIC

		.col {
			margin-top: 0px;
			margin-bottom: 60.455px;
		}
	}
}