footer {
	text-align: center;
	font-family: DinRegular;
	text-transform: uppercase;
	box-sizing: border-box;
	position: relative;
	z-index: 85;

	.wrapper{
		max-width: 1665.153px;
	}

	.col{
		box-sizing: border-box;
		margin: 45px 0;

		display: block;

		float: left;
		width: 100%;
		height: 235.867px;

		color: #393839;

		img {
			width: auto;
			height: 117.575px;
			margin-bottom: 47.661px;
		}

		p {
			margin: 0;
			display: block;
			position: relative;
			font-size: 14px;
			letter-spacing: 0.075em;
			font-family: DinRegular;

			a{
				text-decoration: none;
				font-family: dinlight;
				color: rgba(0,0,0,0.5);
			}
		}

		&.webshop{
			img{
				margin-top: -25px;
			}
		}
	}

	h3 {
		margin: 0 auto 32.865px auto;
		padding: 0;
		line-height: 27.96pt;
		font-size: 14pt;
		white-space: nowrap;
		color: #393839;
		font-family: dinmedium;
		font-weight: 400;
	}
	
	.address {
		margin-bottom: 10px;
		p {
			margin: 0;
			font-size: 11.39pt;
			line-height: 13.66pt;

			&.street{
				padding-top: 1.552px;
			}

			&.province{
				padding-top: 5.755px;
			}

			&.country{
				padding-top: 12.692px;
			}
		}
	}

	.contact {
		a {
			color: #393839;
			margin: 0;
			display: block;
			text-decoration: none;
			transition: color 0.3s ease-in-out;

			&.mail{
				font-size: 11.69pt;
				line-height: 14.03pt;
				padding-top: 32.288px;
			}
			&.phone{
				font-size: 10.31pt;
				line-height: 12.37pt;
				padding-top: 3.159px;
			}
			&:hover{
				color: black;
			}
		}
	}

	.ico-logo{
		background-image: url("../images/AAlogo.png");
		width: 14px;
		height: 14px;
		display: inline-block;
		background-size: cover;
		padding-left: 1px;
		padding-top: 1px;
	}

	input[type="text"], input[type="email"] {
		margin: 0 auto 13.376px auto;
		display: block;
		width: 226.723px;
		padding: 9.1775px;
		text-align: center;
		line-height: 12.47pt;
		font-size: 10.4pt;
		text-transform: uppercase;
		font-family: DinRegular;
		background-color: rgba(255,255,255,0.25);
		border: none;

		transition: background-color 0.3s ease-in-out;

		&:hover{
			background-color: rgba(255,255,255,0.5);
		}
	}

	input[type="submit"] {
		margin: 0 auto 13.376px auto;
		display: block;
		width: 226.723px;
		padding: 9.1775px;
		text-align: center;
		line-height: 12.47pt;
		font-size: 10.4pt;
		text-transform: uppercase;
		font-family: DinRegular;
		background-color: rgba(255,255,255,0.25);
		border: 1px solid rgba(80,80,80,0.25);

		transition: background-color 0.3s ease-in-out;
		
		&:hover{
			background-color: rgba(255,255,255,0.75);
		}
	}

	.bottom-line{
		b{
			font-weight: 400;
			font-family: dinmedium;
			color: rgba(0,0,0,0.7);
		}
		&.social{
			font-weight: normal;
			font-family: dinlight;
			color: gray;
			& a{
				color: #393839;
				opacity: 0.5;
				text-transform: none;
				font-family: dinlight;
			}
		}
	}
}

@media(min-width: 992px) {
	footer {
		margin-top: -296.322px; //STATIC

		.col {
			width: 33.333%;
			margin-top: 0px;
			margin-bottom: 60.455px;
		}

		.bottom-line{
			position:absolute !important;
			width: 555.051px;
			max-width: 33.333%;
			bottom: 60.455px;
			&.social{
				font-family: DinRegular;

				& a{
					color: black;
					opacity: 0.5;
					font-family: dinlight;
				}
			}
		}
	}
}