/* FONTS */
@font-face {
  font-family: 'dinregular';
  src: url('../assets/fonts/DINRegular-webfont.eot');
  src: url('../assets/fonts/DINRegular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/DINRegular-webfont.woff2') format('woff2'),
       url('../assets/fonts/DINRegular-webfont.woff') format('woff'),
       url('../assets/fonts/DINRegular-webfont.ttf') format('truetype'),
       url('../assets/fonts/DINRegular-webfont.svg#dinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* GENERAL ELEMENTS*/
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html, 
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  color: #333;
  font-family: 'dinregular';
}

/* GENERAL CLASSES */
.browserupgrade {
  background-color: #f11;
  color: #fff;
  margin: 0;
  padding: 0.8em;
  text-align: center;
}

.icon {
  display: block;
  height: 40px;
  opacity: 0.8;
  width: 40px;
  margin: 0 auto;
  text-align: center;    
}

.icon:hover {
  opacity: 1;
}

/* INTRO */
.intro {
  height: 100%;
  position: relative;
}

.intro .videoWrapper {
  background-color: #ccc;
  background-image: url("../assets/images/lightbackground.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.intro video {
  background-color: #ccc;
  bottom: 0;
  display: none;
  min-height: 90%;
  min-width: 100%;
  right: 0;
  position: absolute;    
}

.intro .intro_logo
{
  bottom: 50%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

#logo_large
{
    width: 250px;
}

.intro .subtitle {
  bottom: 10%;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.intro .subtitle p {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 1.6em;
  font-style: italic;
  letter-spacing: 0.1em;
  color: #68645C;    
}

.icon #arrow-down {
  width: 40px;
}

/* CONTENT */
#content_wrapper
{
    padding: 5% 0px; 
    height: 100vh;
}

.tagline{
    letter-spacing: 0.08em;
}
#wrapper
{  
  height: inherit; 
}

.boatkill {
    background-image: url(../assets/images/boatkill_mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
    width: 100%;
}

.content {
  overflow: hidden;
  height: 100%;
  background-image: url('../assets/images/ACHTERGROND.jpg');
}

.content .logo {
  margin-top: 3em;
  text-align: center;
}

.content .logo img {
  width: 120px;
}

.content .logo p {
}


.content form {
  margin: 6em auto 0;
  max-width: 500px;
  padding: 0 1em;
  text-align: center;
}

.content form label {
  display: block;
    font-family: 'dinregular';
  /*font-family: Georgia, Times, "Times New Roman", serif;*/
  /*font-style: italic;*/
  margin: 1em;
  letter-spacing: 0.05em;
    font-weight: bold;
    
}

.content form input,
.content form .button {
  border: none;
  display: block;
  margin: 0.5em auto;
  padding: 0.5em;
  width: 65%;
  text-align: center;
    font-family: 'dinregular';
}

.content form input {
  background-color: #E7DCD4;
    font-family: 'dinregular';
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    letter-spacing: 0.075em;
}

.content form .button {
  color: #0D0102;
  background-color: #E7DCD4;
    border: 1px #B9AEA2 solid;
}

.content form .button:hover {
  opacity: 0.55;
}

.content form #error {
  color: #44413c;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-style: italic;
  letter-spacing: 0.1em;
  padding: 0.5em;
}

.email {
  border: 2px solid #fff;
}

.email.hasError {
  border: 3px solid #44413c;
}

/* FOOTER */
.footer {
  text-align: center;
    padding-bottom:30px;
}

.contact {
  margin-top: 6em;
  letter-spacing: 0.05em;
}

.contact a {
  color: #444;
  display: block;
  padding: 0.2em;
  text-decoration: none;
}

.adress p{
    font-size: 0.9em;
}

.straat{
    margin-bottom:-13px;
}
.contact a:hover {
  color: #333;
}

.social-btn{
  display: block;
  font-size: 1em;
  margin: 0.5em auto 1em;
  text-align: center;
  width:50%;
}

.facebook{padding-left: 5px;
padding-right: 5px;}
.vimeo{
    padding-left: 5px;
}
.social-btn a{
  color: #444;
  text-decoration: none;
}

.social-btn a:hover{
  text-decoration: underline;
}

.social {
  font-size: 2em;
  margin: 0.5em auto 1em;
}

.lbl_Contact{
     display: block;
    font-weight: bold;
    letter-spacing: 0.075em;
}
.social a {
  color: #444;
  text-decoration: none;
}

.social a:hover {
  color: #333;
}

/************** MUSIC ****************/

#music
{
    position: absolute;
    z-index: -999;
}

#music_pauze,
#music_play
{
  top: 3%;
  position: absolute;
  right: 2%;
}

#music_pauze > img,
#music_play > img
{
    width: 25px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)  {
 .intro video {
    display: none;
  }
    
  #logo_large
  {
    width: 250px;
  }     
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .intro video {
    display: block;
  }
    
  #logo_large
  {
    width: 400px;

  } 
    
  .boatkill {
    background-image: url(../assets/images/boatkill.png);
        
    }    
}
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) {
  audio{
    display: none;
  }
  #audio{
    display: none;
  }
  #music_pauze, #music_play {
    display: none;
  }
  #logo_large{
    opacity: 1;
  }
  .intro .videoWrapper{
    background-image: url("../assets/images/frame.jpg");

  }
}