/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
@import url(../fonts/webfont/stylesheet.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700,700italic,600italic,400italic,300italic);
.clearfix:after, .main-nav ul:after {
  content: "";
  display: table;
  clear: both; }

/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/* Layout rules */
/* Component (SMACSS module) rules */
#content {
  padding: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1024px; }

.areau-credits p {
  margin: 0;
  text-align: center; }
  .areau-credits p.line1 {
    font-family: DinRegular;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .areau-credits p.line2 {
    font-family: 'Times new roman';
    font-style: italic;
    font-size: 14px;
    letter-spacing: 2px; }

#pause-music {
  top: 3%;
  position: absolute;
  right: 2%;
  z-index: 5;
  max-width: 25px;
  cursor: pointer; }

.block {
  margin: 0; }

.pseudo-menu {
  height: 100px;
  background-color: transparent;
  display: hidden; }

.video {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; }
  .video img {
    max-width: 90%; }
  .video .site-info {
    position: absolute;
    z-index: 80;
    top: 50%;
    margin-top: -74px;
    display: block;
    width: 100%;
    text-align: center; }
    .video .site-info .site-name a {
      font-family: DinRegular;
      font-size: 86px;
      text-transform: uppercase;
      letter-spacing: 10px;
      color: rgba(0, 0, 0, 0.7); }
      .video .site-info .site-name a:hover {
        text-decoration: none; }
  .video .header-footer {
    bottom: 1.789%;
    position: fixed;
    width: 100%;
    color: #FFF;
    z-index: 80;
    text-align: center; }
    .video .header-footer img {
      width: 100px;
      opacity: 0.7; }

.menu-item-link {
  color: #000;
  text-decoration: none; }

.view .item {
  position: relative;
  overflow: hidden; }
  .view .item:hover .overlay {
    opacity: 1; }
  .view .item img {
    display: block; }
  .view .item .overlay {
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    width: 463px;
    height: 728px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 130px 0 0 0;
    max-width: 100vw;
    max-height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    transition: opacity 1s ease-in-out; }
    .view .item .overlay h3 {
      padding: 0 30px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 1.25em;
      font-size: 16.8075pt; }
    .view .item .overlay h4 {
      padding: 0 30px;
      font-size: 10.5435pt;
      letter-spacing: 0.075em;
      margin-top: -1.5em;
      font-weight: 400; }
    .view .item .overlay .description {
      padding: 0 30px;
      font-family: DinRegular;
      margin-top: 2.25em; }
    .view .item .overlay .footer {
      bottom: 0;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      padding: 20px; }
      .view .item .overlay .footer .line2 {
        line-height: 1; }

.view-menu-open-huis .item .overlay {
  background-color: transparent;
  width: 100%;
  max-width: 1024px;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  margin: 5% auto;
  max-height: 100%;
  padding: 0px;
  height: auto; }
  .view-menu-open-huis .item .overlay .description {
    padding: 0 5.8%; }

a > .item {
  color: #2A2A2A; }

@media screen and (max-width: 1024px) {
  .view-menu-open-huis .item .overlay {
    top: 0;
    left: auto;
    right: auto;
    margin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none; } }
.toolbar .main-nav.sticky {
  margin-top: 30px; }

.front-nav {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-bottom: 0px;
  background-color: transparent;
  color: transparent;
  background-image: url("../images/AAlogo.png");
  background-repeat: no-repeat;
  background-size: cover; }

.main-menu-wrapper {
  display: none; }

.main-nav {
  font-family: DinRegular;
  overflow: hidden; }
  .main-nav.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #FFF; }
  .main-nav nav {
    outline: none; }
  .main-nav ul {
    list-style-type: none;
    margin: 0; }
    .main-nav ul.mobile {
      padding: 0 5%;
      border-bottom: 1px solid #ADB2B6; }
      .main-nav ul.mobile li:first-child {
        width: 10%;
        text-indent: -1000px; }
        .main-nav ul.mobile li:first-child a {
          height: 50px; }
        .main-nav ul.mobile li:first-child a:hover {
          border: 0px solid transparent;
          height: 50px; }
      .main-nav ul.mobile li:last-child {
        width: 90%;
        text-align: right;
        letter-spacing: 0.05em; }
        .main-nav ul.mobile li:last-child button:focus {
          outline: none; }
      .main-nav ul.mobile button {
        background-color: transparent;
        border: none; }
    .main-nav ul li {
      margin: 0;
      padding: 10px 0;
      line-height: 50px;
      width: 50%;
      float: left;
      text-align: center; }
      .main-nav ul li a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        border-bottom: 1px solid;
        border-color: transparent;
        transition: border-color 0.3s ease-in-out;
        height: 14px;
        min-height: 14px; }
        .main-nav ul li a:hover {
          border-color: black; }
        .main-nav ul li a.active {
          border-bottom: 1px solid; }
      .main-nav ul li:nth-child(4) {
        display: none; }

@media (min-width: 992px) {
  .main-menu-wrapper {
    display: block; }

  .mobile {
    display: none; }

  .main-nav ul li {
    margin: 0;
    padding: 25px 0;
    line-height: 50px;
    width: 14.2%;
    float: left;
    text-align: center; }
    .main-nav ul li a {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      border-bottom: 1px solid;
      border-color: transparent;
      transition: border-color 0.3s ease-in-out; }
      .main-nav ul li a:hover {
        border-color: black; }
      .main-nav ul li a.active {
        border-bottom: 1px solid; }
    .main-nav ul li:nth-child(4) {
      display: block; }
      .main-nav ul li:nth-child(4) a {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px !important;
        border-radius: 50%;
        padding-bottom: 0px !important;
        background-color: transparent;
        color: transparent;
        background-image: url("../images/AAlogo.png");
        background-repeat: no-repeat;
        background-size: cover; }
        .main-nav ul li:nth-child(4) a:hover {
          border-color: transparent; }
        .main-nav ul li:nth-child(4) a.active {
          border-bottom: 0px solid; } }
footer {
  text-align: center;
  font-family: DinRegular;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  z-index: 85;
  padding-top: 60.455px; }
  footer .wrapper {
    max-width: 1665.153px; }
  footer .col {
    box-sizing: border-box;
    margin: 45px 0;
    display: block;
    float: left;
    width: 100%;
    height: 235.867px;
    color: #393839; }
    footer .col img {
      width: auto;
      height: 117.575px;
      margin-bottom: 47.661px; }
    footer .col p {
      margin: 0;
      display: block;
      position: relative;
      font-size: 14px;
      letter-spacing: 0.075em;
      font-family: DinRegular; }
      footer .col p a {
        text-decoration: none;
        font-family: dinlight;
        color: rgba(0, 0, 0, 0.5); }
    footer .col.webshop img {
      margin-top: -25px; }
  footer h3 {
    margin: 0 auto 32.865px auto;
    padding: 0;
    line-height: 27.96pt;
    font-size: 14px;
    white-space: nowrap;
    color: #393839;
    font-family: dinmedium;
    font-weight: 400; }
    footer h3 img {
      font-size: 32px;
      line-height: 0.5;
      max-width: 100px;
      height: auto !important;
      margin: 0px !important; }
  footer .address {
    margin-bottom: 10px; }
    footer .address p {
      margin: 0;
      font-size: 14px;
      line-height: 13.66pt; }
      footer .address p.street {
        padding-top: 1.552px; }
      footer .address p.province {
        padding-top: 5.755px; }
      footer .address p.country {
        padding-top: 12.692px; }
  footer .contact {
    font-size: 14px; }
    footer .contact a {
      color: #393839;
      margin: 0;
      display: block;
      text-decoration: none;
      transition: color 0.3s ease-in-out; }
      footer .contact a.mail {
        line-height: 14.03pt;
        padding-top: 32.288px; }
      footer .contact a.phone {
        line-height: 12.37pt;
        padding-top: 3.159px; }
      footer .contact a:hover {
        color: black; }
  footer .ico-logo {
    background-image: url("../images/AAlogo.png");
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: cover;
    padding-left: 1px;
    padding-top: 1px;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px); }
  footer input[type="text"], footer input[type="email"] {
    margin: 0 auto 13.376px auto;
    display: block;
    width: 226.723px;
    padding: 9.1775px;
    text-align: center;
    line-height: 12.47pt;
    font-size: 10.4pt;
    text-transform: uppercase;
    font-family: DinRegular;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    transition: background-color 0.3s ease-in-out; }
    footer input[type="text"]:hover, footer input[type="email"]:hover {
      background-color: rgba(255, 255, 255, 0.5); }
  footer input[type="submit"] {
    margin: 0 auto 13.376px auto;
    display: block;
    width: 226.723px;
    padding: 9.1775px;
    text-align: center;
    line-height: 12.47pt;
    font-size: 10.4pt;
    text-transform: uppercase;
    font-family: DinRegular;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(80, 80, 80, 0.25);
    transition: background-color 0.3s ease-in-out; }
    footer input[type="submit"]:hover {
      background-color: rgba(255, 255, 255, 0.75); }
  footer .bottom-line b {
    font-weight: 400;
    font-family: dinmedium;
    color: rgba(0, 0, 0, 0.7); }
  footer .bottom-line.social {
    font-weight: normal;
    font-family: dinlight;
    color: gray; }
    footer .bottom-line.social a {
      color: #393839;
      opacity: 0.5;
      text-transform: none;
      font-family: dinlight; }

@media (min-width: 992px) {
  footer .col {
    width: 33.333%;
    margin-top: 0px;
    margin-bottom: 60.455px; }
  footer .bottom-line {
    position: absolute !important;
    width: 555.051px;
    max-width: 33.333%;
    bottom: 60.455px; }
    footer .bottom-line.social {
      font-family: DinRegular; }
      footer .bottom-line.social a {
        color: black;
        opacity: 0.5;
        font-family: dinlight; } }
/* generic classes
*/
.fortyfivespace, .areau-credits .line1 {
  letter-spacing: 0.045em !important; }

.fiftyspace, footer h3 {
  letter-spacing: 0.05em !important; }

.sixtyfivespace, .areau-credits .line2 {
  letter-spacing: 0.065em !important; }

.seventyfivespace, footer .col div p, footer .col div a, footer input, .overlay h3, .overlay h4, .overlay .description, .main-nav a {
  letter-spacing: 0.075em !important; }

.hundredspace {
  letter-spacing: 0.1em !important; }

/* footer typography
*/
/* overlay typography
*/
.overlay h3 {
  font-weight: 600;
  font-size: 24px; }
.overlay h4 {
  font-size: 18px; }
.overlay .description {
  font-size: 12px; }

/* menu typography
*/
.view-id-detail_view .view-content .views-row:nth-child(2) .content-wrapper {
  background-color: transparent; }
.view-id-detail_view .view-content .views-row:first-child .content-wrapper {
  background-color: transparent; }

.detail .image-wrapper {
  position: relative;
  overflow: hidden; }
  .detail .image-wrapper img {
    width: 100%;
    height: auto;
    display: block; }
  .detail .image-wrapper .content-wrapper {
    position: absolute;
    width: 425px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    padding: 25px; }
    .detail .image-wrapper .content-wrapper h3 {
      font-size: 18px;
      font-family: dinlight;
      letter-spacing: 0.075em;
      text-align: center;
      margin: 0px; }
    .detail .image-wrapper .content-wrapper p, .detail .image-wrapper .content-wrapper span, .detail .image-wrapper .content-wrapper div {
      line-height: 1.15em; }
    .detail .image-wrapper .content-wrapper h4 {
      font-size: 16px;
      text-align: center; }
    .detail .image-wrapper .content-wrapper .body {
      line-height: 1.2;
      /*				& > *{
      					margin-bottom: 0.8em;
      				}*/ }
      .detail .image-wrapper .content-wrapper .body span br {
        line-height: 1; }
    .detail .image-wrapper .content-wrapper.top {
      top: 0%; }
    .detail .image-wrapper .content-wrapper.bottom {
      bottom: 0%; }

.item {
  position: relative;
  overflow: hidden; }
  .item img {
    width: 100%;
    height: auto;
    display: block; }
  .item .overlay {
    position: absolute;
    width: 20.25%;
    right: 6%;
    z-index: 90;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none; }
    .item .overlay h3 {
      font-size: 30px;
      text-align: center;
      font-family: dinmedium;
      font-weight: normal;
      margin: 0px;
      word-wrap: break-word; }
    .item .overlay h4 {
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.075em;
      font-family: "Times New Roman";
      font-style: italic;
      font-weight: normal;
      margin: 0px; }
      .item .overlay h4.pull-up {
        font-family: dinregular;
        margin-top: -0.75em; }
      .item .overlay h4 b {
        font-weight: normal;
        font-family: dinbold;
        font-style: normal; }
      .item .overlay h4.credit {
        margin-bottom: 4.5em; }
    .item .overlay .description {
      font-size: 12px;
      line-height: 1.33; }
    .item .overlay .footer {
      bottom: 0;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      padding: 20px; }
      .item .overlay .footer > * {
        color: #393839; }
    .item .overlay .centralizer {
      width: 100%;
      top: 50%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.view-projects .areau-credits .line1 {
  line-height: 1.4; }

@media screen and (max-width: 1024px) {
  .overlay {
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 0.45); }

  .view-id-detail_view .view-content .views-row .content-wrapper .body span {
    color: #393839 !important; }

  .view-projects .item .overlay,
  .view-interieur .item .overlay,
  .view-kunst .item .overlay {
    width: 100% !important;
    max-width: 100vw !important;
    padding: 25px 0px 0px 0px !important;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    height: auto; }
    .view-projects .item .overlay .description,
    .view-interieur .item .overlay .description,
    .view-kunst .item .overlay .description {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      box-sizing: border-box; }
      .view-projects .item .overlay .description br:not(:first-of-type),
      .view-interieur .item .overlay .description br:not(:first-of-type),
      .view-kunst .item .overlay .description br:not(:first-of-type) {
        display: none; }
    .view-projects .item .overlay .footer,
    .view-interieur .item .overlay .footer,
    .view-kunst .item .overlay .footer {
      display: none; }

  .view-detail-view * {
    position: relative !important;
    margin: 0; }
  .view-detail-view img {
    height: auto !important; }
  .view-detail-view .image-wrapper {
    height: auto !important; }
  .view-detail-view .content-wrapper {
    display: block;
    width: auto !important;
    height: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    padding: 5px 4vmin 35px 4vmin;
    background-color: white; }
  .view-detail-view .body {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    transform: none !important; }
  .view-detail-view h3 {
    font-size: 8vmin;
    margin: 0.4em 0 0.5em 0 !important;
    text-align: left !important; }
  .view-detail-view p {
    letter-spacing: 0.025em;
    font-family: DinRegular;
    font-size: 3.5vmin !important;
    line-height: 4.5vmin !important; }
  .view-detail-view p span {
    letter-spacing: 0.025em;
    font-family: DinRegular;
    font-size: 3.5vmin !important;
    line-height: 4.5vmin !important; }

  #content > .item {
    height: auto; }
    #content > .item * {
      position: relative !important; }
    #content > .item img {
      height: auto !important;
      width: auto !important;
      min-height: auto;
      min-width: auto;
      top: 0;
      left: 0;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      transform: none; }
    #content > .item .overlay {
      display: block;
      width: auto !important;
      height: auto !important;
      padding: 5px 4vmin 35px 4vmin;
      right: 0 !important;
      left: 0 !important;
      top: 0 !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
      transform: none !important; }
      #content > .item .overlay * {
        margin: 0; }
      #content > .item .overlay h3 {
        font-size: 8vmin;
        text-transform: uppercase;
        margin-top: 5px;
        color: #393839 !important; }
      #content > .item .overlay h4 {
        font-size: 5vmin;
        line-height: 5.5vmin;
        margin: 0px 0 30px 0 !important;
        padding: 0px !important;
        color: #393839 !important; }
      #content > .item .overlay p {
        letter-spacing: 0.025em;
        font-family: DinRegular;
        font-size: 3.5vmin !important;
        line-height: 4.5vmin !important;
        margin-bottom: 20px; }
        #content > .item .overlay p br {
          display: none; }

  .item .overlay .description p, .item .overlay .description div, .item .overlay .description span, .item .overlay .description b, .item .overlay .description i, .item .overlay .description area, .item .overlay .description abbr, .item .overlay .description a, .item .overlay .description em, .item .overlay .description h1, .item .overlay .description h2, .item .overlay .description h3, .item .overlay .description h4, .item .overlay .description h5, .item .overlay .description h6, .item .overlay .description ul, .item .overlay .description li, .item .overlay .description td, .item .overlay .description th {
    color: #393839 !important; } }
@media screen and (max-width: 800px) {
  .view-menu-view a, .view-menu-open-huis a {
    text-decoration: none; }
  .view-menu-view .overlay, .view-menu-open-huis .overlay {
    position: relative !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    left: auto !important;
    right: auto !important;
    width: 100% !important;
    height: auto !important;
    padding: 25px !important;
    text-decoration: none; }
    .view-menu-view .overlay .centralizer, .view-menu-open-huis .overlay .centralizer {
      position: relative;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
      transform: none !important;
      left: auto;
      top: auto; }
    .view-menu-view .overlay .footer, .view-menu-open-huis .overlay .footer {
      position: relative !important; } }
@media screen and (max-width: 525px) {
  footer .col {
    width: 100%; } }
@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.page-ons-verhaal #content section {
  font-size: 9px;
  width: 100%;
  height: auto;
  position: relative; }
  .page-ons-verhaal #content section img {
    display: block;
    width: 100%; }
  .page-ons-verhaal #content section .text {
    display: block;
    width: 100%;
    padding: 20px 80px;
    box-sizing: border-box; }
    .page-ons-verhaal #content section .text p {
      font-size: 2em;
      line-height: 1.33em;
      margin: 2em 0;
      padding: 0;
      font-family: DinLight;
      letter-spacing: 0.075em; }
    .page-ons-verhaal #content section .text b {
      display: block;
      width: 100%;
      font-size: 2em;
      line-height: 1.33em;
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-family: DinRegular;
      letter-spacing: 0.075em; }
    .page-ons-verhaal #content section .text .bot-20 {
      margin-bottom: 2.8em; }
.page-ons-verhaal .text-center {
  text-align: center; }
.page-ons-verhaal .ssp {
  font-family: "Source Sans Pro" !important; }
.page-ons-verhaal .din-regular {
  font-family: DinRegular !important; }

@media screen and (min-width: 920px) {
  .page-ons-verhaal #content section {
    font-size: 0.4225625vw; }
    .page-ons-verhaal #content section .text {
      position: absolute;
      padding: 20px 0px;
      width: 20.8%;
      right: 6.4%; }
      .page-ons-verhaal #content section .text.first {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
      .page-ons-verhaal #content section .text.second {
        bottom: 0; }
      .page-ons-verhaal #content section .text.third {
        top: 50%;
        -webkit-transform: translateY(-65%);
        -moz-transform: translateY(-65%);
        -o-transform: translateY(-65%);
        transform: translateY(-65%); }
      .page-ons-verhaal #content section .text.fourth {
        top: 50%;
        -webkit-transform: translateY(-90%);
        -moz-transform: translateY(-90%);
        -o-transform: translateY(-90%);
        transform: translateY(-90%); }
      .page-ons-verhaal #content section .text.fifth {
        top: 0%; }
      .page-ons-verhaal #content section .text.white {
        color: white; }
      .page-ons-verhaal #content section .text.brown {
        color: #7C6857; }
      .page-ons-verhaal #content section .text .top-150 {
        margin-top: 10.5em; }
      .page-ons-verhaal #content section .text .top-80 {
        margin-top: 11.2em; }
      .page-ons-verhaal #content section .text .top-30 {
        margin-top: 4.2em; }
      .page-ons-verhaal #content section .text .top-20 {
        margin-top: 2.8em; }
      .page-ons-verhaal #content section .text .top-10 {
        margin-top: 1.4em; }
      .page-ons-verhaal #content section .text .bot-20 {
        margin-bottom: 0; } }
@media screen and (min-width: 1200px) {
  .page-ons-verhaal #content section {
    font-size: 0.33085vw; }
    .page-ons-verhaal #content section .text.second {
      bottom: 2.5%; }
    .page-ons-verhaal #content section .text.fifth {
      top: 5%; }
    .page-ons-verhaal #content section .text .top-150 {
      margin-top: 21em; } }
/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
body, html {
  margin: 0;
  padding: 0; }

#skip-link {
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
