/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Import Sass mixins, variables, Compass modules, etc. */
//@import "init";

/* HTML element (SMACSS base) rules */
//@import "normalize";

/* Layout rules */
//@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "../fonts/webfont/stylesheet.css";
// @import "components/_fonts";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700,700italic,600italic,400italic,300italic);
//@import "components/misc";
@import "components/_general.scss";
@import "components/_front-page.scss";
@import "components/_main-nav.scss";
@import "components/_footer.scss";
@import "components/_typography.scss";
@import "components/_detail.scss";
@import "components/_responsive.scss";
@import "components/_responsive-utils.scss";
@import "components/_ons-verhaal.scss";

// Optionally, add your own components here.
//@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body,html{
    margin: 0;
    padding: 0;
}

#skip-link{
    margin: 0;
}